[user]
	name = Nuno Freire
	email = greven.pt@gmail.com

[alias]
    branch-name = !git rev-parse --abbrev-ref HEAD
    state = status -s
    aa = add --all
    co = checkout
	cp = cherry-pick
    di = diff
    branches = branch -a
    remotes = remote
    tags = tag -l
    sprout = checkout -B
    amend = commit --amend
    back = checkout -
    unstash = stash pop
    track = follow
    pullff = pull --ff-only
    rewind = reset --hard HEAD~1
    uncommit = reset HEAD^
    ri = rebase --interactive --autosquash --autostash
    su = submodule update
    incoming = !git fetch -q github develop && git log HEAD..FETCH_HEAD
    outgoing = !git fetch -q github develop && git log FETCH_HEAD..HEAD
    graph = log --graph --pretty=oneline --abbrev-commit
    last = !git show | awk \"NR==1 {print \\$2}\"

[help]
	autocorrect = 1

[core]
	filemode = true
	logallrefupdates = true
	whitespace = space-before-tab, trailing-space

[commit]
	cleanup = scissors

[color]
	ui = auto

[branch]
	autosetupmerge = true

[diff]
	renames = copies
	mnemonicprefix = true
	compactionHeuristic = true

[push]
	default = current

[credential]
	helper = osxkeychain
